/**
 * general
 */

body {
  background-color: unset; // override parent theme color (#30445c) with default (white)
  font-family: $font-family-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
  font-family: $font-family-header;
  font-weight: 300;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

.gform_wrapper .ginput_container input[type=text],
.ginput_container .gform_wrapper input[type=url],
.ginput_container .gform_wrapper input[type=email],
.gform_wrapper .ginput_container input[type=tel],
.gform_wrapper .ginput_container input[type=number],
.gform_wrapper .ginput_container input[type=password],
.gform_wrapper .ginput_container textarea,
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background-color: white;
  border: 1px solid $menu-panel-background-color;
  box-shadow: unset;

  &:focus {
    background-color: white;
    border-color: darken($menu-panel-background-color, 10);
  }
}

input[type="radio"].styled + span,
input[type="radio"].styled + label,
input[type="radio"].styled + strong,
input[type="checkbox"].styled + span,
input[type="checkbox"].styled + label,
input[type="checkbox"].styled + strong {
  color: black;
}

#buddypress #message.info,
div#sitewide-notice #message.info {
  margin-top: 15px;
}

/**
 * end general
 */

/**
 * homepage
 */

#post-238 {
  padding-top: 15px;
}

.panel-grid:first-child {
  padding-top: 0;
}

/**
 * end homepage
 */

/**
 * widgets
 */

.panel-grid-cell .widget {
  border: 1px solid #fafafa;
  border-radius: 10px;
  padding: 15px;

  .panel-widget-style {
    // TODO can we prevent visual composer from adding inline styles in the first place?
    padding: 0 !important; // override inline style.
  }
}

/**
 * end widgets
 */

/**
 * buttons
 */

#item-buttons button.more-items-btn,
#main-button div {
  box-shadow: none;
}

.btn.long {
  width: 100%;
}

.btn,
button,
input[type="submit"],
input[type="button"]:not(.button-small),
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span,
a.button,
#create-group-form .remove,
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
.entry-title a.button,
span.create-a-group > a,
#buddypress div.activity-comments form input[disabled],
#buddypress #groups-stream div.generic-button a,
#buddypress #groups-list div.generic-button a,
.btn.shadow,
#masthead .right-col .register,
#masthead .right-col .login,
.header-account-login .pop .logout a,
.bbp-topic-details #subscription-toggle a,
.bbp-forum-details #subscription-toggle a,
#members-stream li .action div.generic-button a,
#members-list li .action div.generic-button a,
#friend-list li .action div.generic-button:nth-child(2n) a,
#members-stream li .action div.generic-button:nth-child(2n) a,
#members-list li .action div.generic-button:nth-child(2n) a,
#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a {
  background-color: $button-background-color;
  border-color: darken($button-background-color, 5);
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  color: $button-color;
  font-weight: normal;
  padding: 10px;
  width: unset; // let button content decide the width. parent forces a width which breaks a few things

  &:hover {
    background-color: lighten($button-background-color, 5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: $button-color;
    text-decoration: none;

    &:before {
      content: none;
    }
  }
}

.header-account-login .pop #dashboard-links .menupop a span,
.header-account-login .pop ul > li > .ab-sub-wrapper > ul li a span,
#buddypress div#item-nav .item-list-tabs ul li a span,
.item-list li .item-meta .count,
body.activity:not(.bp-user)  .item-list-tabs ul li a span,
.dir-form .item-list-tabs ul li a span {
  background-color: $button-background-color;
}

/**
 * end buttons
 */

/**
 * header
 */

#mastlogo {
  background-color: white;
}

#masthead {
  a {
    color: black;

    &.user-link:hover {
      text-decoration: none; // prevent underline on avatar dropdown trigger
    }
  }

  .logout a {
    color: $button-color;
    font-weight: normal;
  }
}

.header-inner .left-col a:hover i,
#searchsubmit:hover i {
  transform: unset;
}

/**
 * end header
 */

/**
 * menu panel
 */

.menu-panel,
.menu-panel #nav-menu .sub-menu-wrap,
.menu-panel #header-menu .sub-menu-wrap,
.bp_components ul li ul li.menupop .ab-sub-wrapper {
  background-color: unset; // inherit body bg color instead
}

#scroll-area {
  background-color: $menu-panel-background-color;
}

.menu-panel #header-menu > ul li a,
#nav-menu > ul > li > a,
body:not(.left-menu-open) .menu-panel .sub-menu-wrap > a,
body:not(.left-menu-open) .menu-panel .ab-sub-wrapper > .ab-item,
.menu-panel #nav-menu > a,
.menu-panel .menupop > a,
.menu-panel ul li a,
.menu-panel ul li div.ab-item,
.menu-panel #header-menu ul .sub-menu-wrap a {
  background-color: $menu-panel-background-color;
  color: $menu-panel-color;

  &:hover {
    background-color: $menu-panel-background-color-hover;
    color: $menu-panel-color-hover;
    text-decoration: none;
  }
}
.left-menu-open .menu-panel #nav-menu .current-menu-item > a,
.left-menu-open .menu-panel #header-menu .current-menu-item > a,
.left-menu-open .menu-panel #nav-menu .current-menu-parent > a,
.left-menu-open .menu-panel #header-menu .current-menu-parent > a,
.left-menu-open .bp_components ul li ul li.menupop.active > a
.menu-panel .screen-reader-shortcut:hover,
.menu-panel ul li ul li:not(.menupop) a:hover,
.menu-panel ul li ul li.active:not(.menupop) a,
.menu-panel #nav-menu ul li ul li.current_page_item a,
.menu-panel #header-menu ul li ul li.current_page_item a,
.menu-panel #nav-menu ul li ul li.current-menu-item a,
.menu-panel #header-menu ul li ul li.current-menu-item a,
body:not(.tablet) .menu-panel #nav-menu > ul > li:hover,
body:not(.tablet) .menu-panel #header-menu > ul > li:hover,
body:not(.tablet) .menu-panel ul li .menupop:hover {
    background-color: $menu-panel-background-color-hover;
    color: $menu-panel-color-hover;
}

body.left-menu-open .menu-panel #nav-menu > ul > li > a:not(.open-submenu):before,
body.left-menu-open .menu-panel #header-menu > ul > li > a:not(.open-submenu):before,
body.left-menu-open .menu-panel .bp_components ul li ul li > .ab-item:before {
  color: $menu-panel-icon-color;
}
.left-menu-open .menu-panel #nav-menu .current-menu-item > a:before,
.left-menu-open .menu-panel #header-menu .current-menu-item > a:before,
.left-menu-open .menu-panel #nav-menu .current-menu-parent > a:before,
.left-menu-open .menu-panel #header-menu .current-menu-parent > a:before,
.left-menu-open .bp_components ul li ul li.menupop.active > a:before,
body:not(.tablet) .menu-panel #nav-menu > ul > li:hover > a:before,
body:not(.tablet) .menu-panel #header-menu > ul > li:hover > a:before,
body:not(.tablet) .menu-panel .bp_components ul li ul li.menupop:hover > a:before {
  background-color: unset; // inherit #scroll-area bg color instead
  color: $menu-panel-icon-color-hover !important; // TODO can we avoid !important? without it, previous block overrides this
}

.menu-panel #nav-menu .sub-menu-wrap,
.menu-panel #header-menu .sub-menu-wrap,
.bp_components ul li ul li.menupop .ab-sub-wrapper {
  //box-shadow: none;
  width: auto;
}

.menu-panel .sub-menu-wrap:before,
.menu-panel .ab-sub-wrapper:before {
  border-color: $menu-panel-background-color;
  border-width: 6px;
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.4);
  transform: rotate(45deg);
  position: absolute;
  left: -6px;
}

.menu-panel .sub-menu-wrap:after,
.menu-panel .ab-sub-wrapper:after {
  display: none;
}

/**
 * end menu panel
 */

/**
 * widgets
 */

.panel-widget-style {
  padding: 1em;

}

/**
 * end widgets
 */

/**
 * directories
 */

.directory {
  .entry-content li,
  .comment-content li,
  .mu_register li {
    margin: 0; // fixes a bug in parent where filter <select> is erroneously indented
  }
}

.groups-members-search input[type="text"],
#buddypress div.dir-search input[type="text"],
#bbpress-forums #bbp-search-index-form input#bbp_search,
#buddypress #search-message-form input[type="text"] {
  background-color: white;
}

#buddypress .groups-members-search input[type="submit"],
#buddypress div.dir-search input[type="submit"],
#bbpress-forums #bbp-search-index-form input#bbp_search_submit,
#buddypress #search-message-form input#messages_search_submit {
  background-color: white;
  border: unset; // clear button rule
}

.buddypress .entry-header {
  display: block;
  margin-bottom: 20px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 300%;
}

body.activity:not(.bp-user) .item-list-tabs ul li,
body.activity:not(.bp-user)  .item-list-tabs ul li:last-child,
.dir-form .item-list-tabs ul li,
.dir-form .item-list-tabs ul li:last-child {
  border-color: $link-color;
  border-width: 1px;

  a {
    color: $link-color;
  }

  &.selected a {
    color: $link-color-hover;
    font-weight: bold;
    //text-decoration: underline;
  }
}

.buddyboss-select-inner {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.11); // dropdowns etc. are not quite links. match search border instead
  border-width: 1px;
  color: black;
  text-transform: unset;
}

.selected-tab,
.buddyboss-select-inner span,
body.activity:not(.bp-user) .item-list-tabs ul li a,
.dir-form .item-list-tabs ul li a {
  font-weight: 300;
  text-transform: unset;
}

.selected-tab:after,
.buddyboss-select-inner:after {
  color: rgba(0, 0, 0, 0.11);
}

#bbp-search-index-form,
#search-message-form,
.groups-members-search,
#buddypress div.dir-search {
  border-color: rgba(0, 0, 0, 0.11);
}

.groups-members-search input[type="text"],
#buddypress div.dir-search input[type="text"],
#bbpress-forums #bbp-search-index-form input#bbp_search,
#buddypress #search-message-form input[type="text"] {
  color: black;
}

.item-list-tabs ul {
  list-style: none;
  margin: 0;
}

#members-list .generic-button a {
  margin-bottom: 5px;
}

.em-pagination strong,
.search_results .navigation .wp-paginate .current,
.pagination .current,
.bbp-pagination-links span:not(.dots) {
  border-color: black;
  color: black;
}

.em-pagination strong,
.em-pagination a,
.search_results .navigation .wp-paginate a,
.search_results .navigation .wp-paginate span,
.pagination span,
.pagination a,
.bbp-pagination-links span,
.bbp-pagination-links a {
  border-color: $link-color;
  color: $link-color;

  &:hover {
    box-shadow: none;
  }
}

// fix undersized avatars on blogs dir to match sizes on members & groups dirs
// TODO review & ensure this type of thing doesn't belong in hc-styles with badges
#primary #blogs-list .item-avatar {
  width: 95px;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
  }
}

.em-pagination strong,
.em-pagination a,
.search_results .navigation .wp-paginate a,
.search_results .navigation .wp-paginate span,
.pagination span,
.pagination a,
.bbp-pagination-links span,
.bbp-pagination-links a,
.em-pagination strong,
.search_results .navigation .wp-paginate .current,
.pagination .current,
.bbp-pagination-links span:not(.dots) {
  border: unset;
}

/**
 * end directories
 */


/**
 * group page
 */

.bbp-topic-details .bbp-forum-data .post-num,
.bbp-forum-details .bbp-forum-data .post-num,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  color: black;
}

#buddypress div#item-nav {
  margin: 0;
}

#buddypress div#item-nav .item-list-tabs ul li a {
  text-transform: unset;
}

#buddypress div#item-nav .item-list-tabs ul li.current > a,
#buddypress div#item-nav .item-list-tabs ul li:hover > a {
  color: $link-color-hover;
}

#buddypress div#item-nav .item-list-tabs > ul > li.current,
#buddypress div#item-nav .item-list-tabs > ul > li:not(.hideshow):hover {
  border: unset;
  color: $link-color-hover;
  text-decoration: underline;
}

#buddypress div#item-nav .item-list-tabs ul li a {
  padding: 5px 15px;
}

body:not(.boxed) #buddypress div#item-nav .item-list-tabs ul {
  padding: 0;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  border-color: $menu-panel-background-color;
  background-color: $menu-panel-background-color;
}

#bbpress-forums {
  h3 {
    display: none; // these titles are invalid anyway due to bad data
  }

  .post-num {
    border-width: 1px;
    font-weight: unset;
  }

  li.bbp-header,
  li.bbp-footer {
    text-transform: unset;
  }

  .mce-panel {
    border-color: $menu-panel-background-color;
    border-style: solid;
    border-width: 0 1px 1px;
  }

  #crosspost-groups {
    margin-top: 1em;
  }

  #bbp_topic_title,
  #bbp_topic_tags {
    width: 100%;
  }
}

li.bbp-forum-info a.bbp-forum-title,
li.bbp-topic-title a.bbp-topic-permalink {
  text-transform: unset;
}

/**
 * end group page
 */






.my-profile #item-nav {
  display: none;
}

#members-dir-list .update {
  display: none;
}

/* intended to target counts of members, groups, etc. inside tabbed subnav */
body.activity:not(.bp-user)  .item-list-tabs ul li a span,
.dir-form .item-list-tabs ul li a span {
  display: none;
}

/* compensate for hiding activity messages by expanding width of member meta */
#primary #friend-list li .item,
#primary #members-stream li .item,
#primary #members-list li .item {
  width: 55%;
}

/* resolve conflict between boss & buddypress-group-email-subscriptions: always hide options by default (toggled w/js) */
.item-list li .action .action-wrap .group-subscription-options {
  display: none;
}

/* hide my-account on wp-toolbar */
#wp-admin-bar-top-secondary #wp-admin-bar-my-account, #wp-admin-bar-top-secondary #wp-admin-bar-bp-notifications {
  display: none;
}

/* hide update notifications on masthead */
#masthead .header-notifications.updates {
  display: none;
}

/**
 * part of shorter top menu.
 * required because of hard css tied to logo dimensions in
 * boss/buddyboss-inc/buddyboss-framework/options/custom-css.php
 */
.is-desktop #header-menu > ul > li,
#search-open {
  height: 37px;
  line-height: 37px;
}
#right-panel {
  margin-top: 65px;
}
body:not(.left-menu-open)[data-logo="1"] .site-header .left-col .table {
  height: 65px;
}
body:not(.left-menu-open)[data-logo="1"] #search-open,
body:not(.left-menu-open)[data-logo="1"] .header-account-login,
body:not(.left-menu-open)[data-logo="1"] #wp-admin-bar-shortcode-secondary .menupop,
body:not(.left-menu-open)[data-logo="1"] .header-notifications {
  height: 37px;
  line-height: 37px;
}
body.is-desktop:not(.left-menu-open)[data-logo="1"] #left-panel-inner,
body.is-desktop.left-menu-open[data-logo="1"] #left-panel-inner {
  padding-top: 65px;
}
/* end hard logo dimension override */

body:not(.left-menu-open)[data-logo="1"] #mastlogo {
  padding: 0;
}

.widget-area .widget .bp-login-widget-register-link a,
.widget-area .widget a.sidebar-wp-register,
.widget-area .widget_bp_core_login_widget a.logout,
.widget-area .widget_tag_cloud a,
.widget-area .widget #sidebarme ul.sidebarme-quicklinks li.sidebarme-profile a,
.bbp-logged-in a.button,
.right-col .register,
.right-col .login,
.header-account-login .pop .logout a {
  padding-bottom: 8px; /* because of odd (non-even) padding-top, there's a 1px bottom gap without this */
}

/* replace box-shadow with border */
#mastlogo,
.header-outher,
body.left-menu-open #left-panel #scroll-area, body:not(.left-menu-open) #left-panel {
  box-shadow: none;
  /* border-bottom: 1px solid rgba(0,0,0,0.11); */
}

/* hide member dropdown in responsive adminbar */
#wpadminbar li#wp-admin-bar-my-account {
  display: none;
}

.site-header .header-inner .right-col {
  background-color: white;
  color: black;
}

/*--------------------------------------------------------------
3.0 - Invite Anyone plugin style overrides
--------------------------------------------------------------*/
#group-create-body .left-menu, #send-invite-form .left-menu {
  display: none;
}

/**
 * responsive
 */

// TODO review/consolidate
@import 'responsive/desktops_laptops';
@import 'responsive/small_desktops_laptops';
