@import 'partials/base';
@import 'partials/header';
@import 'partials/menu';
@import 'partials/widgets';
@import 'partials/buttons';
@import 'partials/inputs';

@import 'pages/homepage';
@import 'pages/directories';
@import 'pages/group';

// TODO move to responsive partial(s)

// override mobile top menu colors to match desktop
.is-mobile .sidebar-btn.fa {
  color: $menu-panel-color;
}

#buddypress #mobile-item-nav ul li {
  background-color: $menu-panel-background-color;

  a {
    color: $menu-panel-color;
  }

  &:active,
  &.current,
  &.selected {
    background-color: $menu-panel-background-color-hover;
    color: $menu-panel-color-hover;
  }
}

#mobile-item-nav ul li:before {
  color: $menu-panel-icon-color;
}
