$font-family-body: proxima-nova, Verdana, sans-serif;
$font-family-header: lexia, serif;

$button-background-color: #006ccc;
$button-color: white;

$menu-panel-color: #5d5d5d;
$menu-panel-color-hover: #093a40;
$menu-panel-background-color: #ececec;
$menu-panel-background-color-hover: $menu-panel-background-color;
$menu-panel-icon-color: $menu-panel-color;
$menu-panel-icon-color-hover: $menu-panel-color-hover;

$link-color: #006ccc;
$link-color-hover: #006ccc;
