@import 'variables';

/**
 * these colors are not intended for production, just a demonstration for testing
 */

$button-background-color: cyan;
$button-color: black;

$menu-panel-color: brown;
$menu-panel-color-hover: blue;
$menu-panel-background-color: yellow;
$menu-panel-background-color-hover: white;
$menu-panel-icon-color: pink;
$menu-panel-icon-color-hover: orange;

$link-color: red;
$link-color-hover: green;


@import 'global';
