@import 'variables';

$font-family-body: "Myriad Pro", proxima-nova, Verdana, sans-serif;
$font-family-header: "Myriad Pro", lexia, serif;

$button-background-color: #680c2c;
$button-color: white;

$link-color: #7fb9d0;
$link-color-hover: #877682;

@import 'global';
