#mobile-header, // parent theme applies a bg color directly here which overrides body. override it right back
body {
  background-color: $menu-panel-background-color; // menu doesn't always extend to bottom of screen, this covers that space
  font-family: $font-family-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
  font-family: $font-family-header;
  font-weight: 300;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

#buddypress #message.info,
div#sitewide-notice #message.info {
  margin-top: 15px;
}

// fewer transitions
#mastlogo,
.menu-panel,
.header-outher,
#left-panel *,
#nav-menu > ul > li > a,
#left-panel-inner #scroll-area,
#right-panel-inner,
.menu-panel #header-menu > ul li a:before,
.menu-panel #nav-menu > ul > li > a:not(.open-submenu):before,
.menu-panel .screen-reader-shortcut:before,
.menu-panel .bp_components ul li ul li > .ab-item:before {
  transition-property: none;
}
