#mastlogo {
  background-color: white;
}

#masthead {
  a {
    color: black;

    &.user-link:hover {
      text-decoration: none; // prevent underline on avatar dropdown trigger
    }
  }

  .logout a {
    color: $button-color;
    font-weight: normal;
  }
}

.header-inner .left-col a:hover i,
#searchsubmit:hover i {
  transform: unset;
}

.is-desktop #header-menu > ul > li,
#search-open {
  height: 37px;
  line-height: 37px;
}
#right-panel {
  margin-top: 65px;
}
body:not(.left-menu-open)[data-logo="1"] .site-header .left-col .table {
  height: 65px;
}
body:not(.left-menu-open)[data-logo="1"] #search-open,
body:not(.left-menu-open)[data-logo="1"] .header-account-login,
body:not(.left-menu-open)[data-logo="1"] #wp-admin-bar-shortcode-secondary .menupop,
body:not(.left-menu-open)[data-logo="1"] .header-notifications {
  height: 37px;
  line-height: 37px;
}
body.is-desktop:not(.left-menu-open)[data-logo="1"] #left-panel-inner,
body.is-desktop.left-menu-open[data-logo="1"] #left-panel-inner {
  padding-top: 65px;
}

body:not(.left-menu-open)[data-logo="1"] #mastlogo {
  padding: 0;
}

.widget-area .widget .bp-login-widget-register-link a,
.widget-area .widget a.sidebar-wp-register,
.widget-area .widget_bp_core_login_widget a.logout,
.widget-area .widget_tag_cloud a,
.widget-area .widget #sidebarme ul.sidebarme-quicklinks li.sidebarme-profile a,
.bbp-logged-in a.button,
.right-col .register,
.right-col .login,
.header-account-login .pop .logout a {
  padding-bottom: 8px; /* because of odd (non-even) padding-top, there's a 1px bottom gap without this */
}

.header-outher {
  //box-shadow: none;
  /* border-bottom: 1px solid rgba(0,0,0,0.11); */
  box-shadow: $box-shadow-material;
}

/* hide member dropdown in responsive adminbar */
#wpadminbar li#wp-admin-bar-my-account {
  display: none;
}

.site-header .header-inner .right-col {
  background-color: white;
  color: black;
}

/* hide my-account on wp-toolbar */
#wp-admin-bar-top-secondary #wp-admin-bar-my-account, #wp-admin-bar-top-secondary #wp-admin-bar-bp-notifications {
  display: none;
}

/* hide update notifications on masthead */
#masthead .header-notifications.updates {
  display: none;
}

/* reduce padding/margin of various menu edge cases to be consistent with overall reduced menu padding */
.header-account-login .pop #dashboard-links {
  padding-bottom: 0;
  padding-top: 0;
}
.header-account-login .pop #adminbar-links {
  padding-top: 0;
}
.header-account-login .pop .logout {
  margin-top: 0;
}

/* no padding on submenu wrappers to save some more space */
.header-account-login .pop .network-menu,
.header-account-login .pop .bp_components .menupop:not(#wp-admin-bar-my-account) > .ab-sub-wrapper {
  margin: 0;
  padding: 0;
}

