.panel-grid-cell .widget {
  border: 1px solid $menu-panel-background-color;
  border-radius: 4px;
  padding: 15px;

  .panel-widget-style {
    // TODO can we prevent visual composer from adding inline styles in the first place?
    padding: 0 !important; // override inline style.
  }
}

.boxed #primary .widget-area #groups-list li .item-avatar img,
.boxed #primary .widget-area #members-list li .item-avatar img,
.secondary-inner #item-actions #group-mods img.avatar,
.secondary-inner #item-actions #group-admins img.avatar,
.widget-area .widget ul.item-list img.avatar {
  border-width: 0;
}
