.bbp-topic-details .bbp-forum-data .post-num,
.bbp-forum-details .bbp-forum-data .post-num,
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  color: black;
}

#buddypress div#item-nav {
  margin: 0;
}

#buddypress div#item-nav .item-list-tabs ul li a {
  text-transform: unset;
  font-weight: unset;

  &:hover {
    text-decoration: unset;
  }
}

#buddypress div#item-nav .item-list-tabs ul li.current > a,
#buddypress div#item-nav .item-list-tabs ul li:hover > a {
  color: $link-color-hover;
}

#buddypress div#item-nav .item-list-tabs > ul > li.current {
  font-weight: 600;
}

#buddypress div#item-nav .item-list-tabs > ul > li:not(.hideshow):hover {
  color: $link-color-hover;
  text-decoration: unset;
}

body:not(.boxed) #buddypress div#item-nav .item-list-tabs ul {
  padding: 0;
}

body:not(.boxed) #item-nav .item-list-tabs ul,
body:not(.boxed) #item-nav .item-list-tabs .hideshow ul:before {
  background-color: $menu-panel-background-color;
}

#buddypress div#item-nav .item-list-tabs > ul > li.current,
#buddypress div#item-nav .item-list-tabs > ul > li:not(.hideshow):hover {
  border-color: $link-color-hover;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  border-color: $menu-panel-background-color;
  background-color: $menu-panel-background-color;
}

#bbpress-forums {
  h3 {
    display: none; // these titles are invalid anyway due to bad data
  }

  .post-num {
    border-width: 1px;
    font-weight: unset;
  }

  li.bbp-header,
  li.bbp-footer {
    text-transform: unset;
  }

  .mce-panel {
    border-color: $menu-panel-background-color;
    border-style: solid;
    border-width: 0 1px 1px;
  }

  #crosspost-groups {
    margin-top: 1em;
  }

  #bbp_topic_title,
  #bbp_topic_tags {
    width: 100%;
  }
}

li.bbp-forum-info a.bbp-forum-title,
li.bbp-topic-title a.bbp-topic-permalink {
  text-transform: unset;
}

// hide activity updates
#members-dir-list .update {
  display: none;
}

/* resolve conflict between boss & buddypress-group-email-subscriptions: always hide options by default (toggled w/js) */
.item-list li .action .action-wrap .group-subscription-options {
  display: none;
}

#group-create-body .left-menu,
#send-invite-form .left-menu {
  display: none;
}

// minor position fix for numbers in circles
// affects both header & group subnav...
.header-account-login .pop #dashboard-links .menupop a span,
.header-account-login .pop ul > li > .ab-sub-wrapper > ul li a span,
#buddypress div#item-nav .item-list-tabs ul li a span {
  line-height: 18px;
  text-align: center;
}

// these have explicit colors set by the parent. unset
.entry-buddypress-content #group-create-body h4 {
  color: unset;
}

// don't use our normal styles for these inputs
#buddypress #create-group-form.standard-form textarea,
#buddypress #create-group-form.standard-form input[type="text"] {
  width: unset;
}

#buddypress #create-group-form {
  #groupblog-details {
    input[type="text"] {
      margin: 5px;
    }

    label {
      display: inline;
    }
  }

  label {
    margin-top: 10px;
  }

  .buddyboss-select {
    vertical-align: middle;
  }
}

.bbp-topics-front ul.super-sticky div.bbp-topic-title-content:before,
.bbp-topics ul.super-sticky div.bbp-topic-title-content:before,
.bbp-topics ul.sticky div.bbp-topic-title-content:before,
.bbp-forum-content ul.sticky:before {
  color: unset;
}

// there are enough buttons here to wrap onto multiple lines on most screens, add some vertical space so they don't get cramped
.group-admin #buddypress div#subnav.item-list-tabs ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}
