.is-mobile.profile #item-header #item-header-content #item-meta {
  height: unset;
}

// Hide others' followers count from one's own listing of followers
.dir-list.members.follow.followers .item-meta span {
  display: none;
}

// add spacing to left-column buttons on messaging pages
.bp-user.messages #buddypress div#subnav.item-list-tabs ul li a {
  margin-bottom: 10px;
}
