.is-mobile.profile #item-header #item-header-content #item-meta {
  height: unset;
}

// Hide others' followers count from one's own listing of followers
.dir-list.members.follow.followers .item-meta span {
  display: none;
}

// add spacing to left-column buttons on messaging pages
.bp-user.messages #buddypress div#subnav.item-list-tabs ul li a {
  margin-bottom: 10px;
}

#buddypress #mobile-item-nav ul li#members-followers-personal-li,
#buddypress div#item-nav .item-list-tabs ul li a#user-members-followers {
  display: none;
}

.profile .avatar-wrap,
.xprofile #buddypress div#item-header-avatar img.avatar {
  width: 150px;
  height: 150px;
  max-width: none;
}
