@media screen and (min-width: 481px)  {

  /* reduce top menubar height */
  .site-header .left-col .table {
    height: 65px;
  }
  .header-links {
    height: 37px;
  }
  .header-navigation > div > ul {
    height: 37px;
  }
  #wp-admin-bar-shortcode-secondary .menupop,
  .header-notifications {
    height: 37px;
    line-height: 37px;
  }
  .header-account-login {
    height: 37px;
    line-height: 37px;
  }
  .header-account-login img {
    width: 25px;
    height: 25px;
  }
  #wp-admin-bar-shortcode-secondary .ab-sub-wrapper,
  .header-notifications .pop,
  .header-account-login .pop {
    top: 37px;
  }
  body #mastlogo {
    min-height: 37px;
  }
  /* end of top menubar height reduction */

  /* try not to truncate user name in top menubar */
  .header-account-login .user-link span.name {
    width: auto;
  }

  /* show both small & large logos when left menu is expanded */
  body.left-menu-open .site-title.small,
  body.left-menu-open #mastlogo #logo img.small {
    display: block;
    padding: 0;
  }
  body.left-menu-open #mastlogo #logo .site-title a:first-child img {
    width: 54px;
  }
  body.left-menu-open #mastlogo #logo .site-title a:last-child img {
    width: 105px;
  }
  body[data-logo="1"] #mastlogo {
    padding: 0;
  }
  div#logo {
    height: 65px;
    line-height: normal;
    padding: 0 5px;
  }
  body:not(.left-menu-open)[data-logo="1"] div#logo {
    padding: 0;
  }
  .header-outher {
    margin-left: 65px;
  }
  #mastlogo {
    width: 65px;
  }
  #mastlogo #logo img {
    width: auto;
  }
  #mastlogo #logo .site-title {
    display: inline;
    vertical-align: top;
  }
  #mastlogo #logo .site-title a:first-child img,
  #mastlogo #logo .site-title a:last-child img {
    height: 55px;
    padding: 5px 12px;
  }
  body:not(.left-menu-open) #mastlogo #logo .site-title a:first-child img {
    padding: 5px;
  }
  body:not(.left-menu-open) .menu-panel #nav-menu > ul > li > a:after,
  body:not(.left-menu-open) .menu-panel #header-menu > ul > li > a:after,
  body:not(.left-menu-open) .menu-panel ul li .menupop > a:after {
    left: 27px;
  }
  .menu-panel {
    width: 55px;
  }
  body:not(.left-menu-open) .menu-panel #nav-menu .sub-menu-wrap,
  body:not(.left-menu-open) .menu-panel #header-menu .sub-menu-wrap,
  body:not(.left-menu-open) .bp_components ul li ul li.menupop .ab-sub-wrapper {
    left: 65px;
  }
  body.is-desktop:not(.left-menu-open)[data-logo="1"] #left-panel-inner {
    padding-top: 65px;
  }
  body:not(.left-menu-open) #right-panel-inner {
    margin-left: 65px;
  }
  #left-panel-inner #scroll-area {
    width: 65px;
  }
  #mastlogo,
  .menu-panel,
  .header-outher,
  #left-panel *,
  #nav-menu > ul > li > a,
  #left-panel-inner #scroll-area,
  #right-panel-inner,
  .menu-panel #header-menu > ul li a:before,
  .menu-panel #nav-menu > ul > li > a:not(.open-submenu):before,
  .menu-panel .screen-reader-shortcut:before,
  .menu-panel .bp_components ul li ul li > .ab-item:before {
    transition-property: none;
  }

  #titlebar-search {
    display: none;
  }

}
